@import '@styles/var.scss';

.button{
    display: flex;
    align-items: center;
    gap: 6px;
    padding-inline: 4px 10px;
    font-size: 15px;
    
}

.circle{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: block;
    background-color: $black;
}


@media (max-width: 700px){
    .button{
        padding-inline: 3px 5px;
        font-size: 12px;
        gap: 4px;
        height: 32px;
    }
    .circle{
        width: 22px;
        height: 22px;
    }
}
